@charset "utf-8";

/* reset stylesheets */

html {
  color: #444;
  background: #FFF;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

body, button, input, select, textarea {
  font: 500 14px/1.8 Lucida, Verdana, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

fieldset, img {
  border: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

iframe {
  display: block;
}

blockquote {
  margin: 1em 4em 1em 2em;
  padding: 0.6em 1em;
  background: #f1f1f1;
}

blockquote blockquote {
  padding: 0 0 0 1em;
  margin-left: 2em;
  border-left: 0.4em solid #ddd;
}

acronym, abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}

abbr {
  cursor: help;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 400;
}

ul, ol {
  list-style: none;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: text-top\9;
}

:root sub, :root sup {
  vertical-align: baseline; /* for ie9 and other mordern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a:hover {
  text-decoration: underline;
}

ins, a {
  text-decoration: none;
}

u {
  text-decoration: underline;
}

mark {
  background: #fffdd1;
}

pre, code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  border: 1px solid #ddd;
  border-left-width: 0.4em;
  background: #fbfbfb;
  padding: 10px;
}

small {
  font-size: 12px;
  color: #888;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both
}

.clearfix {
  zoom: 1
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-weight: 800  \9;
  color: #333;
}


/* Layout stylesheets */

.container {
  width: 950px;
  overflow: hidden;
  margin: 0 auto;
  clear: both;
}

.container .row-container {
  float: left;
  width: 960px;
  overflow: hidden;
  clear: both;
}

.container .row-container .col1,
.container .row-container .col2,
.container .row-container .col3,
.container .row-container .col4,
.container .row-container .col5,
.container .row-container .col6,
.container .row-container .col7,
.container .row-container .col8,
.container .row-container .col9,
.container .row-container .col10,
.container .row-container .col11,
.container .row-container .col12 {
  float: left;
  margin-right: 10px;
  display: inline;
  _zoom: 1;
}

.container .row-container .col1 {
  width: 70px;
}

.container .row-container .col2 {
  width: 150px;
}

.container .row-container .col3 {
  width: 230px;
}

.container .row-container .col4 {
  width: 310px;
}

.container .row-container .col5 {
  width: 390px;
}

.container .row-container .col6 {
  width: 470px;
}

.container .row-container .col7 {
  width: 550px;
}

.container .row-container .col8 {
  width: 630px;
}

.container .row-container .col9 {
  width: 710px;
}

.container .row-container .col10 {
  width: 790px;
}

.container .row-container .col11 {
  width: 870px;

}

.container .row-container .col12 {
  width: 950px;
}

.container .row-container .ui {
  margin-bottom: 10px;
  text-align: center;
  background-color: #EEE;
  border-radius: 5px;
  font-size: 12px;
  padding: 1em 0;
}

/* forms */

form.inline {
  display: inline;
}



form.horizontal {

}

form.horizontal .field-row {
  width: 100%;
  clear: both;
  margin-bottom: 10px;
}

form.horizontal .field-row .label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  float: left;
}



form.horizontal .field-row .field-input-text,
form.horizontal .field-row .field-input-radio,
form.horizontal .field-row .field-input-checkbox,
form.horizontal .field-row .field-textarea,
form.horizontal .field-row .field-select,
form.horizontal .field-row .field-select-multiple {
  float: left;
}

form.horizontal .field-row .field-input-text .option {
  background-color: #EEE;
  width: 100px;
}

form.horizontal .field-row .field-input-text input,
form.horizontal .field-row .field-input-text .option input,
form.horizontal .field-row .field-textarea textarea,
form.horizontal .field-row .field-select select,
form.horizontal .field-row .field-select-multiple select{
  border: 1px solid #CCC;
  padding: 0 8px;
  line-height: 28px;
  height: 28px;
}

form.horizontal .field-row .field-textarea textarea {
  height: auto;
  line-height: 1.5;
}

form.horizontal .field-row .field-select-multiple select {
  padding: 0;
  width: 200px;
  height: 92px;
}

form.horizontal .field-row .action {
  margin-left: 110px;
}


form.horizontal .field-row .option input {
  vertical-align: 2px;
  _vertical-align: baseline;
  _margin-right: -5px;
}

form.horizontal .field-row .alert-block {
  width: 100%;
  line-height: inherit;
  clear: both;
  font-size: 12px;
  color: #888888;
}

form.horizontal .field-row .alert-inline {
  margin-left: 10px;
  line-height: inherit;
  font-size: 12px;
  color: #888888;
  display: inline;
}






